*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.tools-container{
    background: lightgreen;
    height: 100px;
}
.tools-content{

}
.tool{

}
.tool img{
    
}
.drawing-container{

}
#canvas{
    /* background-color: aqua; */
}