*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.header{

}
.tickets-filter{

}
.filter{

}
.red{

}
.blue{

}
.green{

}
.yellow{

}
.black{

}
.tickets-actions{

}
.tickets-actions div{

}
.tickets-actions i{

}
.tickets-container{
    
}
